@use '../abstract/vars';
@use '../abstract/mixins';

header {
    background: vars.$primary-gradient;
    padding: 2rem;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        .linha {
            border-top: 1px solid black;
            width: 80%;
        }

        ul {
            display: inline-flex;
            gap: 2rem;

            li {
                list-style-type: none;
            }

            a {
                text-decoration: none;
                @include mixins.ff-fs-color(vars.$font-text, 1rem, vars.$dark-purple);
                font-weight: 500;
            }
        }
    }
    #home {
        max-width: 1040px;
        @include mixins.margem-central(80%);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .textos-home {
            max-width: 464px;

            h1 {
                @include mixins.ff-fs-color(vars.$font-title, 42px, vars.$dark-purple);
                margin-bottom: 2rem;

                span {
                    color: vars.$vib-purple;
                }
            }

            .btn-main {
                @include mixins.ff-fs-color(vars.$font-text, 22px, #FFFFFF);
                border-radius: 2rem;
                padding: 1rem;
                width: 20rem;
                background-color: vars.$vib-purple;
                font-weight: 500;
                border: none;
            }
        }

        .img-home {
            max-width: 474px;
            
            img {
                width: 100%;
            }
        }
    }

}