/*VARS*/ 
    /*Colors*/
    $dark-purple: #0C0421;
    $vib-purple: #4E75FF;
    $calm-purple: #85A0FF;
    $purple: #CAD4FA;
    $calm-green: #E8F5C8;
    $primary-gradient: linear-gradient(180deg, #E8F5C8, #FFFFFF);
    $secundary-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);
    /*FONTS*/
    $font-text: 'Montserrat', sans-serif;
    $font-title: 'Krona One', sans-serif;